<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>Bookcase - Book Create</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-dark">
            <a class="navbar-brand text-white" href="#">Navbar</a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link text-white" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/create-book">Create Book</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div th:if="${success}" class="alert alert-success" role="alert">
            This is a success alert—check it out!
        </div>
        <div class="container">
            <form id="book-create-form">
                <h1>Book Create Page</h1>
                <div class="form-group">
                    <span>Book Name</span>
                    <label>
                        <input name="bookName" class="form-control" placeholder="Book Name.."/>
                    </label>
                </div>
                <div class="form-group">
                    <span>Author Id</span>
                    <label>
                        <input name="authorId" class="form-control" placeholder="Author id.." />
                    </label>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <script th:src="/js/script.js" ></script>
    </body>
</html>